# Introduction: Starting Work for Rinse Over Run Competition

The purpose of this notebook is to make a start in the rinse over run competition. We'll load in the data, do some exploration, figure out how to make predictions, and make a preliminary prediction for submission.

In [1]:
# Standard Data Science Helpers
import numpy as np
import pandas as pd
import scipy

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
init_notebook_mode(connected=True)

import cufflinks as cf
cf.set_config_file(world_readable=True, theme="pearl")
cf.go_offline(connected=True)

# Extra options
pd.options.display.max_rows = 10
pd.options.display.max_columns = 25
# Show all code cells outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import os
os.listdir('input')

['recipe_metadata.csv',
 'submission_format.csv',
 'test_values.csv',
 'train_labels.csv',
 'train_values.csv']

In [83]:
meta = pd.read_csv('input/recipe_metadata.csv', index_col='process_id')
meta.head()

            pre_rinse  caustic  intermediate_rinse  acid  final_rinse
process_id
20000               1        1                   1     1            1
20001               1        1                   1     1            1
20002               1        1                   0     0            1
20003               1        1                   1     1            1
20004               1        1                   1     1            1

In [85]:
targets = pd.read_csv('input/train_labels.csv', index_col='process_id')
targets.head()

            final_rinse_total_turbidity_liter
process_id
20001                            4.318275e+06
20002                            4.375286e+05
20003                            4.271977e+05
20004                            7.197830e+05
20005                            4.133107e+05

In [87]:
targets.index.nunique()
meta.index.nunique()

5021

7988

In [88]:
train_ids = list(pd.read_csv('input/train_values.csv', usecols=['process_id'])['process_id'].unique())
len(train_ids)

5021

In [89]:
test_ids = list(pd.read_csv('input/test_values.csv', usecols=['process_id'])['process_id'].unique())
len(test_ids)

2967

In [91]:
2967 + 5021

7988

In [92]:
train_meta = meta.loc[meta.index.isin(train_ids)].copy()
test_meta = meta.loc[meta.index.isin(test_ids)].copy()

In [95]:
test_meta.apply(lambda x: x.value_counts())

   pre_rinse  caustic  intermediate_rinse  acid  final_rinse
0        NaN      122                 709   587          NaN
1     2967.0     2845                2258  2380       2967.0

In [96]:
train_meta.apply(lambda x: x.value_counts())

   pre_rinse  caustic  intermediate_rinse  acid  final_rinse
0        NaN      193                1250  1057          NaN
1     5021.0     4828                3771  3964       5021.0

In [97]:
train = pd.read_csv('input/train_values.csv', nrows=10000, parse_dates=['timestamp'], 
                    index_col='process_id')
train.head()

,row_id,object_id,phase,timestamp,pipeline,supply_flow,supply_pressure,return_temperature,return_conductivity,return_turbidity,return_flow,supply_pump,...,tank_level_acid,tank_level_clean_water,tank_temperature_pre_rinse,tank_temperature_caustic,tank_temperature_acid,tank_concentration_caustic,tank_concentration_acid,tank_lsh_caustic,tank_lsh_acid,tank_lsh_clean_water,tank_lsh_pre_rinse,target_time_period
process_id,,,,,,,,,,,,,,,,,,,,,,,,,
20001,0,405,pre_rinse,2018-04-15 04:20:47,L4,8550.348,0.615451,18.044704,4.990765,0.177228,15776.9100,True,...,44.026875,49.474102,32.385708,83.036750,73.03241,45.394646,44.340126,False,0.0,False,0.0,False
20001,1,405,pre_rinse,2018-04-15 04:20:49,L4,11364.294,0.654297,18.229168,3.749680,0.122975,13241.4640,True,...,44.045685,49.457645,32.385708,83.015045,73.03241,45.394447,44.339380,False,0.0,False,0.0,False
20001,2,405,pre_rinse,2018-04-15 04:20:51,L4,12174.479,0.699870,18.395544,2.783954,0.387008,10698.7850,True,...,44.045685,49.462350,32.385708,83.015045,73.03241,45.396280,44.336735,False,0.0,False,0.0,False
20001,3,405,pre_rinse,2018-04-15 04:20:53,L4,13436.776,0.761502,18.583622,1.769353,0.213397,8007.8125,True,...,44.048030,49.462350,32.385708,83.036750,73.03241,45.401875,44.333110,False,0.0,False,0.0,False
20001,4,405,pre_rinse,2018-04-15 04:20:55,L4,13776.766,0.837240,18.627026,0.904020,0.148293,6004.0510,True,...,44.048030,49.462350,32.385708,83.015045,73.03241,45.398197,44.334373,False,0.0,False,0.0,False

In [98]:
train.index.nunique()

7

In [99]:
sid = 20001
process = train[train.index == sid]
process.shape

(1632, 35)

In [100]:
process.dtypes

row_id                           int64
object_id                        int64
phase                           object
timestamp               datetime64[ns]
pipeline                        object
                             ...
tank_lsh_caustic                  bool
tank_lsh_acid                  float64
tank_lsh_clean_water              bool
tank_lsh_pre_rinse             float64
target_time_period                bool
Length: 35, dtype: object

In [101]:
process = process.set_index('timestamp')

In [102]:
process.head()

,row_id,object_id,phase,pipeline,supply_flow,supply_pressure,return_temperature,return_conductivity,return_turbidity,return_flow,supply_pump,supply_pre_rinse,...,tank_level_acid,tank_level_clean_water,tank_temperature_pre_rinse,tank_temperature_caustic,tank_temperature_acid,tank_concentration_caustic,tank_concentration_acid,tank_lsh_caustic,tank_lsh_acid,tank_lsh_clean_water,tank_lsh_pre_rinse,target_time_period
timestamp,,,,,,,,,,,,,,,,,,,,,,,,,
2018-04-15 04:20:47,0,405,pre_rinse,L4,8550.348,0.615451,18.044704,4.990765,0.177228,15776.9100,True,True,...,44.026875,49.474102,32.385708,83.036750,73.03241,45.394646,44.340126,False,0.0,False,0.0,False
2018-04-15 04:20:49,1,405,pre_rinse,L4,11364.294,0.654297,18.229168,3.749680,0.122975,13241.4640,True,True,...,44.045685,49.457645,32.385708,83.015045,73.03241,45.394447,44.339380,False,0.0,False,0.0,False
2018-04-15 04:20:51,2,405,pre_rinse,L4,12174.479,0.699870,18.395544,2.783954,0.387008,10698.7850,True,True,...,44.045685,49.462350,32.385708,83.015045,73.03241,45.396280,44.336735,False,0.0,False,0.0,False
2018-04-15 04:20:53,3,405,pre_rinse,L4,13436.776,0.761502,18.583622,1.769353,0.213397,8007.8125,True,True,...,44.048030,49.462350,32.385708,83.036750,73.03241,45.401875,44.333110,False,0.0,False,0.0,False
2018-04-15 04:20:55,4,405,pre_rinse,L4,13776.766,0.837240,18.627026,0.904020,0.148293,6004.0510,True,True,...,44.048030,49.462350,32.385708,83.015045,73.03241,45.398197,44.334373,False,0.0,False,0.0,False

In [105]:
targets[targets.index == sid]

            final_rinse_total_turbidity_liter
process_id
20001                            4.318275e+06

In [106]:
train_meta[train_meta.index == sid]

            pre_rinse  caustic  intermediate_rinse  acid  final_rinse
process_id
20001               1        1                   1     1            1

In [107]:
test_ids[10]

20022

In [ ]:
train_meta['sequence'] = train_meta.apply(lambda x: x.values, axis=1)
test_meta['sequence'] = test_meta.apply(lambda x: x.values, axis=1)

In [131]:
targets = targets.merge(train_meta['sequence'].to_frame(), on='process_id', how='left')

In [134]:
targets['sequence'] = targets['sequence'].astype(str)

In [136]:
train_means = targets.groupby('sequence')['final_rinse_total_turbidity_liter'].mean()

In [137]:
test_meta['sequence'] = test_meta['sequence'].astype(str)

In [141]:
basic = test_meta.merge(train_means.to_frame(), on='sequence', how='left').set_index(test_meta.index)['final_rinse_total_turbidity_liter']
basic.head()

process_id
20000    2.109410e+06
20006    2.417376e+06
20007    2.109410e+06
20009    2.109410e+06
20010    2.109410e+06
Name: final_rinse_total_turbidity_liter, dtype: float64

In [144]:
basic.to_frame().to_csv('basic_submission.csv')

In [145]:
from sklearn.neighbors import KNeighborsRegressor

In [147]:
process.dtypes

row_id                    int64
object_id                 int64
phase                    object
pipeline                 object
supply_flow             float64
                         ...
tank_lsh_caustic           bool
tank_lsh_acid           float64
tank_lsh_clean_water       bool
tank_lsh_pre_rinse      float64
target_time_period         bool
Length: 34, dtype: object

In [154]:
test_ids[1]
test = pd.read_csv('input/test_values.csv', nrows=1000, index_col='process_id', parse_dates=['timestamp'])

20006

In [155]:
test.index.unique()

Int64Index([20000, 20006, 20007], dtype='int64', name='process_id')

In [157]:
tp = test[test.index == 20006]
tp.shape

(251, 35)

In [161]:
test_meta[test_meta.index == 20006]

,pre_rinse,caustic,intermediate_rinse,acid,final_rinse,sequence
process_id,,,,,,
20006,1,1,0,0,1,[1 1 0 0 1]

In [160]:
test.groupby('process_id')['phase'].value_counts()

process_id  phase
20000       caustic      439
            pre_rinse     88
20006       caustic      193
            pre_rinse     58
20007       caustic      164
            pre_rinse     58
Name: phase, dtype: int64

In [ ]:
def process(test_data):
    count = len(test_data)
    phase_counts = test_data['phase'].value_counts()
    stats = test

In [162]:
test_data = tp.copy()

In [190]:
df = pd.DataFrame({'count': len(test_data)}, index=['phase'])
phase_counts = test_data['phase'].value_counts()
phase_counts = phase_counts.to_frame().transpose()
df = pd.concat([df, phase_counts], axis=1)
df.index = [0]

In [191]:
df

   count  caustic  pre_rinse
0    251      193         58

In [212]:
def process(test_data):

    summary = test_data.drop(columns=['object_id', 'row_id']).groupby('phase').describe()
    summary.columns = summary.columns.map('_'.join)


    out = []
    for phase, row in summary.iterrows():
        row.index = [f'{phase}_{c}' for c in row.index]
        out.append(row)

    data = pd.concat(out).to_frame().transpose()


    bools = test_data.select_dtypes(bool).apply(lambda x: x.value_counts()).fillna(0)

    out = []
    for phase, row in bools.iterrows():
        row.index = [f'{phase}_{c}' for c in row.index]
        out.append(row)

    data_tf = pd.concat(out).to_frame().transpose()
    final_data = pd.concat([data_tf, data], axis=1)
    
    return final_data

In [215]:
process(test[test.index == test_ids[0]])

,False_supply_pump,False_supply_pre_rinse,False_supply_caustic,False_return_caustic,False_supply_acid,False_return_acid,False_supply_clean_water,False_return_recovery_water,False_return_drain,False_object_low_level,False_tank_lsh_caustic,False_tank_lsh_clean_water,...,pre_rinse_tank_temperature_caustic_25%,pre_rinse_tank_temperature_caustic_50%,pre_rinse_tank_temperature_caustic_75%,pre_rinse_tank_temperature_caustic_max,pre_rinse_tank_temperature_pre_rinse_count,pre_rinse_tank_temperature_pre_rinse_mean,pre_rinse_tank_temperature_pre_rinse_std,pre_rinse_tank_temperature_pre_rinse_min,pre_rinse_tank_temperature_pre_rinse_25%,pre_rinse_tank_temperature_pre_rinse_50%,pre_rinse_tank_temperature_pre_rinse_75%,pre_rinse_tank_temperature_pre_rinse_max
0,95.0,440.0,183.0,267.0,527.0,527.0,523.0,527.0,260.0,480.0,527.0,527.0,...,83.048502,83.08196,83.13441,83.19589,88.0,29.968961,0.0296,29.922598,29.944302,29.962385,30.005785,30.027489

In [214]:
process(test[test.index == test_ids[1]])

,False_supply_pump,False_supply_pre_rinse,False_supply_caustic,False_return_caustic,False_supply_acid,False_return_acid,False_supply_clean_water,False_return_recovery_water,False_return_drain,False_object_low_level,False_tank_lsh_caustic,False_tank_lsh_clean_water,...,pre_rinse_tank_temperature_caustic_25%,pre_rinse_tank_temperature_caustic_50%,pre_rinse_tank_temperature_caustic_75%,pre_rinse_tank_temperature_caustic_max,pre_rinse_tank_temperature_pre_rinse_count,pre_rinse_tank_temperature_pre_rinse_mean,pre_rinse_tank_temperature_pre_rinse_std,pre_rinse_tank_temperature_pre_rinse_min,pre_rinse_tank_temperature_pre_rinse_25%,pre_rinse_tank_temperature_pre_rinse_50%,pre_rinse_tank_temperature_pre_rinse_75%,pre_rinse_tank_temperature_pre_rinse_max
0,40.0,194.0,95.0,220.0,251.0,251.0,249.0,251.0,31.0,222.0,251.0,251.0,...,82.89931,82.90835,82.939095,83.033134,58.0,30.891553,0.019385,30.852142,30.873844,30.891928,30.913628,30.93533

In [216]:
process(train[train.index == train_ids[0]])

,False_supply_pump,False_supply_pre_rinse,False_supply_caustic,False_return_caustic,False_supply_acid,False_return_acid,False_supply_clean_water,False_return_recovery_water,False_return_drain,False_object_low_level,False_tank_lsh_caustic,False_tank_lsh_clean_water,...,pre_rinse_tank_temperature_caustic_25%,pre_rinse_tank_temperature_caustic_50%,pre_rinse_tank_temperature_caustic_75%,pre_rinse_tank_temperature_caustic_max,pre_rinse_tank_temperature_pre_rinse_count,pre_rinse_tank_temperature_pre_rinse_mean,pre_rinse_tank_temperature_pre_rinse_std,pre_rinse_tank_temperature_pre_rinse_min,pre_rinse_tank_temperature_pre_rinse_25%,pre_rinse_tank_temperature_pre_rinse_50%,pre_rinse_tank_temperature_pre_rinse_75%,pre_rinse_tank_temperature_pre_rinse_max
0,87.0,1369.0,919.0,930.0,1279.0,1289.0,1404.0,1429.0,1259.0,1492.0,1578.0,1632.0,...,82.00593,82.562935,82.83058,83.05483,265.0,32.658897,0.144868,32.34592,32.573784,32.675056,32.758247,32.924625

In [217]:
process(train[train.index == train_ids[1]])

,False_supply_pump,False_supply_pre_rinse,False_supply_caustic,False_return_caustic,False_supply_acid,False_return_acid,False_supply_clean_water,False_return_recovery_water,False_return_drain,False_object_low_level,False_tank_lsh_caustic,False_tank_lsh_clean_water,...,pre_rinse_tank_temperature_caustic_25%,pre_rinse_tank_temperature_caustic_50%,pre_rinse_tank_temperature_caustic_75%,pre_rinse_tank_temperature_caustic_max,pre_rinse_tank_temperature_pre_rinse_count,pre_rinse_tank_temperature_pre_rinse_mean,pre_rinse_tank_temperature_pre_rinse_std,pre_rinse_tank_temperature_pre_rinse_min,pre_rinse_tank_temperature_pre_rinse_25%,pre_rinse_tank_temperature_pre_rinse_50%,pre_rinse_tank_temperature_pre_rinse_75%,pre_rinse_tank_temperature_pre_rinse_max
0,99.0,576.0,210.0,175.0,601.0,601.0,509.0,555.0,483.0,521.0,601.0,601.0,...,82.66421,82.67506,82.71123,82.85229,25.0,27.540509,0.008289,27.535444,27.535444,27.535444,27.553532,27.553532

In [218]:
test_meta[test_meta.index == test_ids[0]]

,pre_rinse,caustic,intermediate_rinse,acid,final_rinse,sequence
process_id,,,,,,
20000,1,1,1,1,1,[1 1 1 1 1]

In [220]:
test[test.index == test_ids[0]]['phase'].unique()

array(['pre_rinse', 'caustic'], dtype=object)

In [164]:

phase_counts

test_data.groupby('phase').describe()

caustic      193
pre_rinse     58
Name: phase, dtype: int64

          object_id                                                 \
              count   mean  std    min    25%    50%    75%    max
phase
caustic       193.0  914.0  0.0  914.0  914.0  914.0  914.0  914.0
pre_rinse      58.0  914.0  0.0  914.0  914.0  914.0  914.0  914.0

          return_conductivity                                   ...     \
                        count      mean        std       min    ...
phase                                                           ...
caustic                 193.0  6.476767  11.886955  0.276554    ...
pre_rinse                58.0  0.382090   0.017723  0.300195    ...

          tank_temperature_caustic                                  \
                               25%       50%        75%        max
phase
caustic                   81.84679  82.57017  82.754630  82.899310
pre_rinse                 82.89931  82.90835  82.939095  83.033134

          tank_temperature_pre_rinse                                  \
                               count       mean       std        min
phase
caustic                        193.0  30.910949  0.018998  30.870226
pre_rinse                       58.0  30.891553  0.019385  30.852142


                 25%        50%        75%       max
phase
caustic    30.891928  30.913628  30.935330  30.93533
pre_rinse  30.873844  30.891928  30.913628  30.93533

[2 rows x 152 columns]

       caustic  pre_rinse
phase      193         58

In [165]:
pd.options.display.max_rows = 40
test_data.dtypes

row_id                                 int64
object_id                              int64
phase                                 object
timestamp                     datetime64[ns]
pipeline                              object
supply_flow                          float64
supply_pressure                      float64
return_temperature                   float64
return_conductivity                  float64
return_turbidity                     float64
return_flow                          float64
supply_pump                             bool
supply_pre_rinse                        bool
supply_caustic                          bool
return_caustic                          bool
supply_acid                             bool
return_acid                             bool
supply_clean_water                      bool
return_recovery_water                   bool
return_drain                            bool
object_low_level                        bool
tank_level_pre_rinse                 float64
tank_level_caustic                   float64
tank_level_acid                      float64
tank_level_clean_water               float64
tank_temperature_pre_rinse           float64
tank_temperature_caustic             float64
tank_temperature_acid                float64
tank_concentration_caustic           float64
tank_concentration_acid              float64
tank_lsh_caustic                        bool
tank_lsh_acid                        float64
tank_lsh_clean_water                    bool
tank_lsh_pre_rinse                   float64
target_time_period                      bool
dtype: object

In [168]:
train = pd.read_csv('input/train_values.csv', nrows=10000, index_col='process_id', parse_dates=['timestamp'])
train['target_time_period'].value_counts()

False    8998
True     1002
Name: target_time_period, dtype: int64

In [169]:
test['target_time_period'].value_counts()

False    1000
Name: target_time_period, dtype: int64